.heading {
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px yellow;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;                                                                                                         
    border-radius: 20px;
    color: blue;
    box-shadow: 5px 5px 5px grey;
}

.heading_div_2 {
    font-size: 18px;
}

.canvas{
    border-style:dotted;
    border-color:aquamarine;
  
}

#Label_results{
    background-color: orange;

}